nav {
    position: absolute;
    width: 156px;
    height: 40px;
    left: 133px;
    top: 38px;

    background: url(/assets/images/logo.png);
}

.mainDiv{
    margin-top:60px;
    
}


#business{
    color: rgba(197, 63, 0, 1);
}

#tech{
   color : rgba(0, 136, 123, 1);
}

.heading,
#banner-text 
{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#banner-btn{
    background-color: rgba(197, 63, 0, 1);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}


.card-p,
#intro-block> h5{
    color : rgba(0, 0, 0, 0.6)
    
}

.cardPading{
    padding: 50px;
   
}
.clientImg{
    position: relative;
    bottom: 50px;
    height: 90px;
    width: 90px;
}

.clientComa{
    position: relative;
    bottom: 60px;
    right: 20px;
    height: 40px;
    width: 40px;
}
.clent-position{
    position: relative;
    bottom: 65px;
}
.client-balance{
   
    height: 280px;
}
.footer-bg-color{
    background-color: rgba(208, 208, 208, 1);
    padding-top: 30px;
}


@media (max-width: 768px) {
    #banner-text {
            text-align: center;
     } 
  }