nav {

    margin-bottom: 30px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* Apply the font to the body */
body {
    font-family: 'Poppins', sans-serif;
}


#business {
    color: rgba(197, 63, 0, 1);
}

#tech {
    color: rgba(0, 136, 123, 1);
}


.heading {
    color: rgba(197, 63, 0, 1);
    ;
}

#banner-btn {
    background-color: rgba(197, 63, 0, 1);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}

#banner-img {
    padding-top: 100px;
}


.card-p,
#intro-block>h5 {
    color: rgba(0, 0, 0, 0.6)
}

.cardPading {
    padding: 50px;

}

.clientImg {
    position: relative;
    bottom: 50px;
    height: 90px;
    width: 90px;
}

.clientComa {
    position: relative;
    bottom: 60px;
    right: 20px;
    height: 40px;
    width: 40px;
}

.clent-position {
    position: relative;
    bottom: 70px;
}

.client-balance {

    height: 310px;
}

.footer-bg-color {
    background-color: rgba(208, 208, 208, 1);
    padding-top: 30px;
}

.commonMargin {
    margin-top: 80px;
    margin-bottom: 80px;
}
#pastWorkMob{
    display: none;
}

#pastWork {
    background-color: rgba(0, 136, 123, 0.1);
    background-color: rgba(0, 136, 123, 0.1);
    margin-left: -10 !important;
    margin-right: -10 !important;
    padding-top: 60px;


}
#mobileViewWork{
    display: none;
}


@media (max-width: 768px) {
    #pastWork{
        display: none;
    }

    #mobileViewWork{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        padding: 80px;
        background-color: rgba(0, 136, 123, 0.1);
        cursor: grab;

    }

    #banner-text {
        text-align: center;
    }

    #banner-img {
        padding-top: 30px;
     
    }

    #followDiv {
        text-align: left;

    }

    .followHead h3 {

        text-align: left;
        display: flex;
        justify-content: left;


    }
  

    .followBody {

        display: flex !important;
        justify-content: left !important;



    }

    .followBody div {

        display: flex;
        justify-content: left;

        text-align: left;
    }

    #grid-block-1 {
        margin-top: 10px;
        margin-bottom:8px !important;
    }

    #grid-block-2 {
        margin-top: 0px !important;
    }

    #cardSlide{
      
       display: flex !important;
       gap: 10px !important;
       cursor: grab;  
       flex-direction: row !important;
       overflow-x: scroll;
       
    }
   
    .cardTopBox{
        padding: 50px ;
        height: 150px; 
        width: 300px;
    }

    .cardBox{
        height: 50px ;
        width: 200px ;
     

    } 
    #pastWorkMob{
        padding-top: 10px;
        display: block;
        background-color: rgba(0, 136, 123, 0.1);
        margin-bottom: 0px;
    }
    
}
