nav {

    margin-bottom: 30px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* Apply the font to the body */
body {
    font-family: 'Poppins', sans-serif;
  
}

.whatWeDoText{
    color :rgba(0, 0, 0, 0.6);
    font-size: 20px;
}

#business {
    color: rgba(197, 63, 0, 1);
}

#tech {
    color: rgba(0, 136, 123, 1);
}


.heading {
    color: rgba(197, 63, 0, 1);
    ;
}
#form-input-btn,
#banner-btn {
    background-color: rgba(197, 63, 0, 1);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}

#banner-img {
    padding-top: 100px;
}


.card-p,
#intro-block>h5 {
    color: rgba(0, 0, 0, 0.6)
}
.heroSection{
    font-weight: bold;
}
.cardPading {
    padding: 15px;

}

.clientImg {
    position: relative;
    bottom: 50px;
    height: 90px;
    width: 90px;
}

.clientComa {
    position: relative;
    bottom: 60px;
    right: 20px;
    height: 40px;
    width: 40px;
}

.clent-position {
    position: relative;
    bottom: 70px;
}

.client-balance {

    height: 310px;
}
.bgWhite{
    background-color: white;
}
.WhatWeDoBlock{
    background-color: rgba(63, 0, 111, 0.06);
    margin-bottom: 30px;
    padding-top: 30px;
    
    padding-bottom: 35px;
   
     
}

.removeLeftRightMargin{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.footer-bg-color {
    color: white;
    height: 200px;
    background-color: rgba(0, 54, 82, 1);
    padding-top: 30px;
}

.commonMargin {
   
    margin-bottom: 50px;
}
#pastWorkMob{
    display: none;
}

#pastWork {
   
    margin-left: -10 !important;
    margin-right: -10 !important;
    padding-top: 60px;


}
#mobileViewWork{
    display: none;
}
#copyRight-mob{
    display: none;
}
#banner{
    margin-top: 15px;
    margin-bottom: 80px;
}
.cardBox{
    padding: 50px;

}


.form-input{
   
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 1);
    
}

.form-padding{
    padding: 20px;
}
.form-heading{
    font-size: 35 ;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
   font-family: 'Poppins', sans-serif;
}
.form-text{
    font-size: 10;
}

.form-input-thanks{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 1);
    display: none;
}

.form-margin{
    margin-top: 20px;
}
.success{
    height: 150px;
    width: 150px;
}
.success-block{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardMargin{
    margin-top:0px;
    margin-bottom: 38px;
}

.text{
    padding-left: 15px;
}

#grid-block-1{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 80px;
}
#grid-block-2 {
    display: flex;
    /* margin-top: 0px !important; */
   
    justify-content: center;
    gap: 80px;
}
.cardBoxDiv{
    padding: 30px;
    width: 37.5vmax;
    
}
.cardTitle{
    font-weight: 600;
}

.alignCenter{
    display: flex;
    align-items:center;
}

@media (max-width: 768px) {
    .WhatWeDoBlock{
        padding: 15px !important;
    }
    .cardBoxDiv{
        padding: 30px;
        width: auto;
        
    }
    .cardMargin{
       margin-top: 1px;

    }
    #pastWork{
        display: none;
    }

  

    #banner-text {
        text-align: center;
    }

    #banner-img {
      
        padding-bottom: 20px;
     
    }

    #followDiv {
        text-align: left;

    }

    .followHead h3 {

        text-align: left;
        display: flex;
        justify-content: left;


    }
 

    .followBody {

        display: flex !important;
        justify-content: left !important;



    }

    .followBody div {

        display: flex;
        justify-content: left;

        text-align: left;
    }

    #grid-block-1 {
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 2px;
        margin-bottom:1px !important;
        margin-bottom: 20px !important;
    }
    #grid-block-2 {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
        margin-top: 2px;
        margin-bottom:1px !important;
        margin-bottom: 20px !important;
    }

    

    #cardSlide{
      
       display: flex !important;
       gap: 10px !important;
       cursor: grab;  
       flex-direction: row !important;
       overflow-x: scroll;
       
    }
   
    .cardTopBox{
        
        padding: auto;
        height: 150px; 
        width: 100%;
    }

    .cardBox{
        padding: 20px;
        
    }

   .footer-icon{
    height: 20px;
    width: 20px;
   }
    #mobileViewWork{
        display: flex !important;
        align-items: center !important;
        justify-content: space-around !important;
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 10%;
        padding-right: 10%;
       
        cursor: grab;

    }
    #pastWorkMob{
        padding-top: 20px;
        display: block;
        
        margin-bottom: 0px;
    }
    .footer-bg-color{
        height: 500px;
      
    }
    #copyRight{
        display: none;
    }
    #copyRight-mob{
        display: block;
       font-size: 15px;
       
    }

    .form-input-thanks{    
        top: 0;
        left: 0;
        right: 0;

        height: 400px;
        width: 300px;      
    }

    .form-input{ 
        
        /* top:-13px;           */
        height: 400px;
        width: 300px;      
    }
    .form-padding{       
        margin-top: 25px;
    }
    input::placeholder {
        font: 13px/3 sans-serif;
    }
  
    .cut-btn-icon{
position: absolute;
left: 80%;
    }
    #banner-img{
        padding-top: 10px !important;
        /* border: 1px solid red; */
    }

    #banner-btn{
    
        margin-bottom:0 !important;
    }

    #form-input-cut-btn{
        position: absolute;
        left: 40px;
    }

   
    
}

.formm{
    position : absolute;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    width : 100%;
    height : 100vh;
    background-color: rgba(250, 235, 215, 0.303);
    display : none;
}